---
import Layout from '@/layouts/Layout.astro'

const title = 'Page 1'
const description = 'Page 1'
---

<Layout
  description={description}
  title={title}
>
  <main>
    <h1>404</h1>
    <p>This page doesn't exist!</p>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
    gap: 1.5rem;
  }
</style>
