<button
  aria-label='Switch web theme'
  id='theme-toggle'
>
  <div class='light-mode'>🌞</div>
  <div class='dark-mode'>🌑</div>
</button>

<script is:inline>
  // Inline: not bundled, so will execute the first
  // We need to load theme asap, so we are handling it in the layout.
  const STORAGE_THEME_KEY = 'theme'
  const DARK_THEME_CLASS = 'theme-dark'
  const DARK = 'dark'
  const LIGHT = 'light'
  const root = document.documentElement

  const getLocalStorageTheme = (localStorageKey) => {
    if (localStorage && localStorage.getItem(localStorageKey))
      return localStorage.getItem(localStorageKey)
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) return DARK
    return LIGHT
  }

  const theme = getLocalStorageTheme(STORAGE_THEME_KEY)
  let isDark = theme === DARK

  root.classList.toggle(DARK_THEME_CLASS, isDark)

  function handleClick() {
    isDark = !isDark

    root.classList.toggle(DARK_THEME_CLASS, isDark)
    localStorage.setItem(STORAGE_THEME_KEY, isDark ? DARK : LIGHT)
  }

  const button = document.getElementById('theme-toggle')
  button?.addEventListener('click', () => handleClick())
</script>

<style>
  button {
    background: none;
    border: 1px solid transparent;
    font-size: 1.7rem;
    padding: 0.6rem;
  }

  @media (hover: hover) {
    button:hover {
      border-color: var(--color-primary-light-3);
    }
  }
</style>

<style is:global>
  .light-mode,
  .theme-dark .dark-mode {
    display: flex;
  }

  .theme-dark .light-mode,
  .dark-mode {
    display: none;
  }
</style>
